#app{
  margin-top: 20px;
  max-width: 600px;
}
nav .router-link-exact-active {
  color: black !important;
  border-bottom: 1px solid;
}
.uploadSuccess, form {
  max-width: 350px;
  margin: 0 auto;
}
.alert {
  max-width: 250px;
  margin: 0 auto;
}
.section {
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  max-height: 0;
}
.section.collapsed {
  max-height: 300px;
  height: auto;
}
.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}