nav a.router-link-exact-active {
  color: black !important;
  border-bottom: 1px solid;
}
form {
  text-align: left;
  max-width: 350px;
  margin: 0 auto;
}
.alert {
	max-width: 250px;
	margin: 0 auto;
}
