nav a.router-link-exact-active {
  color: black !important;
  border-bottom: 1px solid;
}
.uploadSuccess, form {
  max-width: 350px;
  margin: 0 auto;
}
.alert {
  max-width: 250px;
  margin: 0 auto;
}
.items a:hover {
  background-color: #7bd8ff;
}
